body {
  background-color: white;
}
* {
  box-sizing: border-box;
}
.col-1 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: transparent;
}
.col-2 {
  box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  margin-top: 20px;
  margin-bottom: 70px;
}
.row {
  padding: 2.5rem 3rem;
  /* max-width: 1080px; */
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem 5rem;
  grid-template-columns: 2fr 1fr;
  grid-template-columns: 3fr 2fr;
}
.container {
  background-color: transparent;
  padding: 24px;
}
.card-col-1 {
  /* border: 1px solid rgb(var(--venia-border)); */
  /* border-radius: 5px; */
  padding: 1.5rem 1rem;
  padding: 24px;
}
.col-1-card-Header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 12px;
}
.col-1-card-Title {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
}
.col-1-card-Text {
  color: rgba(0, 0, 0, 0.6);
  margin: 12px 0;
  letter-spacing: 0.03em;
  text-align: justify;
}
.col-1-input {
  margin-bottom: 16px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-bottom: 1px solid #ced4da;
  padding-right: 5px;
  border-radius: 0;
}
.field-input {
  background: white;
  border-radius: 2px;
  color: rgb(var(--venia-text));
  display: inline-flex;
  flex: 0 0 100%;
  /* font-size: 1rem; */
  font-size: 16px;
  height: 2.25rem;
  margin: 0;
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
  border-color: #000;
  padding: 15px;
  min-height: 50px;
  border: 1px solid #e5e5e5;
  border-width: 0 0 1px 0;
  padding: 0 20px 0 58px;
}
.checkoutPage-summaryContainer-QHs {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  /* height: 0; */
  /* position: sticky; */
  top: 5.5rem;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
.col-2-card-title {
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-family: var(--curnon-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
}
.col-2-card-order {
  min-height: 2rem;
  /* border: 1px solid rgb(var(--venia-border)); */
  border-radius: 5px;
}

.couponCode-editFormTextInputFieldIconsRoot-1mW > span > input {
  padding-left: calc(1.875rem * var(--iconsBefore) + 1rem - 1px);
  padding-right: calc(1.875rem * var(--iconsAfter) + 1rem - 1px);
}
.couponCode-couponCodeEntryField-39M {
  padding: 15px;
  min-height: 50px;
  border: 1px solid #e5e5e5;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.couponCode-applyButton-3J3 {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  height: 3.5rem;
}
.button-root-2JQ {
  position: relative;
  background-color: white;
  color: rgb(var(--color));
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  min-width: 7.5rem;
  padding: 0 1rem;
  transition-duration: 384ms;
  transition-property: background-color, color, border-color;
  transition-timing-function: var(--venia-anim-standard);
  --color: var(--venia-text);
  overflow: hidden;
}
.clickable-root-1G6 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  pointer-events: auto;
  text-align: center;
  white-space: nowrap;
}
.col-2-form {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.couponCode-applyButton-3J3 {
  background: #d4d4d4;
  border: 1px solid #e5e5e5;
  height: 3.1rem;
}

.col-2-card-titleg {
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.col-2-card-order-details {
  display: grid;
  padding: 0;
}
.col-2-card-order-details-grid {
  display: grid;
  grid-template-columns: 70px 1fr auto;
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
  opacity: 1;
  visibility: visible;
  transition-delay: 64ms;
  transition-duration: 384ms;
  transition-property: opacity, visbility;
  transition-timing-function: var(--venia-anim-standard);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.image-container-thumbnail {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  /* border: solid 1px rgb(var(--venia-border)); */
}
.image-container {
  position: relative;
}
.image-container img {
  height: 80px;
  width: auto;
  max-width: 95%;
  display: block;
  object-fit: contain;
}
.col-2-card-badge {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  background: #888888;
  color: #ffffff;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.col-2-card-info {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.col-2-card-options {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  gap: 0.5rem;
  font-size: 85%;
  margin-top: 1rem;
}
dl,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.col-2-card-price {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}
.priceSummary-root-L4M {
  margin-top: 2rem;
}
.priceSummary-lineItems-JOi {
  display: grid;
  grid-row-gap: 0.75rem;
  grid-template-columns: 50% 50%;
  line-height: 1.5rem;
}
.priceSummary-lineItemLabel-3q- {
  justify-self: start;
  color: rgba(0, 0, 0, 0.6);
}
.priceSummary-price-2_b {
  justify-self: end;
}
.priceSummary-dividerTotal-20D {
  margin-top: 16px;
  margin-bottom: 30px;
  grid-column: 1 / span 2;
}
.priceSummary-divider-3Iz {
  background-color: #e5e5e5;
  height: 1px;
  width: 100%;
}
.priceSummary-totalLabel-3bk {
  /* font-weight: bold; */
  text-transform: uppercase;
  color: #000;
  line-height: 27px;
}
.priceSummary-lineItemLabel-3q- {
  justify-self: start;
  color: rgba(0, 0, 0, 0.6);
}
.priceSummary-totalPrice-2pP {
  justify-self: end;
}
.orderSummary-vat_helptext-1uB {
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.oneStep-formArea-2ew {
  padding: 16px 0;
}
.col-1-card-footer {
  /* margin-top: 24px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.02em;
}
.clickable-root-1G6 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  pointer-events: auto;
  text-align: center;
  white-space: nowrap;
}

.oneStep-formSubmitBtn-yeP {
  margin-top: 12px;
  background-color: #3bb100;
  color: rgb(255, 255, 255);
  width: 100%;
  min-height: 50px;
  transition: 0.3s ease all;
  border-color: transparent;
}
.validate-input {
  position: relative;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 17px;
}
input.input100 {
  height: 62px;
  padding: 0 20px 0 58px;
}

.input100 {
  display: block;
  width: 100%;
  background: 0 0;
  font-family: Oswald-Medium;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
  padding: 0 5px;
}
.label-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: black;
}
.orderSummaryItem-priceOriginal-2Gn {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
.priceSummary-priceDiscount-1lC {
  color: red;
}
.priceSummary-price-2_b {
  justify-self: end;
}
