.account {
  display: flex;
  flex-direction: column;
}
.account__banner {
  position: relative;
  width: 100%;
  height: 300px;
}
.account__banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.account__banner .banner__text {
  color: seashell;
  position: absolute;
  top: 50px;
  left: 8%;
  font-size: 40px;
}
.account__banner .banner__text-sub {
  color: seashell;
  position: absolute;
  margin: 30px 0;
  font-size: 15px;
}
.account .account__navlink {
  display: flex;
  background-color: #D3D3D3;
}
.account .account__navlink .navlink__list {
  width: 70%;
  display: flex;
}
.account .account__navlink .navlink__list .link__item {
  padding: 15px 30px;
  border-left: 1px solid gray;
}
.account .account__navlink .navlink__logout {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
}
.account .account__navlink .navlink__logout .btn__logout {
  color: black;
  font-size: 17px;
  position: relative;
  border: 0 !important;
  background: none;
}
.account .account__navlink .navlink__logout .btn__logout:hover {
  color: gray;
  cursor: pointer;
}
.account .account__navlink .navlink__logout box-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.account .account__navlink .navlink__logout .btn__logout span {
  margin: 0 10px;
}
.account .account__navlink .navlink__list .link__item .link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}

