@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");

:root {
  --header-height: 120px;
  --size-image: 80px;
  --color-white: #ffffff;
  --color-black: #1f110f;
  --color-gray: #767874;
  --color-gray-bg: #f3f4f2;
  --color-red: #ef4f4f;
  --color-warning: #ffa45b;
  --color-success: #54e346;
  --color-dangerous: #c70039;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  padding: 10px 20px;
  height: var(--header-height);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-bg);
}

.header .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header__main .header__main-left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.header .header__main .header__main-left .header__logo {
  max-width: var(--size-image);
  max-height: var(--size-image);
}

.header .header__main .header__main-left .header__logo .header__logo-link {
  display: block;
  width: 100%;
}

.header .header__main .header__main-left .header__logo .header__logo-link img {
  width: 100%;
  height: 100%;
}

.header .header__main .header__main-left .header__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.header .header__main .header__main-left .header__category .category__item {
  position: relative;
  margin: 0 25px;
  font-size: 0.9rem;
  color: var(--color-gray);
}

.header .header__main .header__main-left .header__category .category__item span {
  padding: 10px 0;
}

.header .header__main .header__main-left .header__category .category__item span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--color-black);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.header .header__main .header__main-left .header__category .category__item span:hover {
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;
}

.header .header__main .header__main-left .header__category .category__item span:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.header .header__main .header__main-center {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.header .header__main .header__main-center .form {
  width: 100%;
  padding: 0 30px;
}

.header .header__main .header__main-center .form .form-control {
  position: relative;
  border-radius: 10em / 10em;
  border: 1px solid var(--color-gray) !important;
}

.header .header__main .header__main-center .form .icon {
  position: absolute;
  font-size: 0.8rem;
}

.header .header__main .header__main-center .form input {
  width: 100%;
  padding: 0 30px;
  border: 0 !important;
}

.header .header__main .header__main-right {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header__main .header__main-right .header__icon {
  position: relative;
  padding: 0 20px;
}

.header .header__main .header__main-right .header__icon .icon {
  cursor: pointer;
}

.header .header__main .header__main-right .header__icon .header__icon-btn {
  border: 0 !important;
  background: none;
}

.header .header__main .header__main-right .header__icon .cart__amount {
  position: absolute;
  font-size: 0.6rem;
  color: var(--color-white);
  font-weight: 500;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-black);
}

.header .header__sub .navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header .header__sub .navbar__item .item {
  margin-right: 20px;
}

.header .header__sub .navbar__item .item .item__link {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--color-gray);
}

.header .header__sub .navbar__item .item .item__link:hover {
  font-weight: 500;
  padding-bottom: 5px;
  color: var(--color-black);
}

.main {
  width: 100%;
  height: 500px;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(decoration), color-stop(var(--color-gray)), color-stop(var(--color-white)), color-stop(var(--color-white)), to(var(--color-gray)));
  background-image: linear-gradient(decoration, var(--color-gray), var(--color-white), var(--color-white), var(--color-gray));
}

.footer .footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  padding: 0 80px;
  background-color: var(--color-black);
}

.footer .footer__policy .footer__policy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-white);
}

.footer .footer__policy .footer__policy-item p {
  font-size: 0.8rem;
  margin-left: 20px;
}

.footer .footer__newsletter {
  padding: 55px 0;
}

.footer .footer__newsletter .footer__newsletter-title {
  text-align: center;
  margin-bottom: 30px;
}

.footer .footer__newsletter .footer__newsletter-title p {
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}

.footer .footer__newsletter .footer__newsletter-title .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer .footer__newsletter .footer__newsletter-title .sub__title {
  font-size: 0.8rem;
}

.footer .footer__newsletter .footer__newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__newsletter .footer__newsletter-form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0 !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 400px;
}

.footer .footer__newsletter .footer__newsletter-form .form-control input {
  width: 60%;
  padding: 9px 20px;
  border: 1px solid var(--color-gray);
}

.footer .footer__newsletter .footer__newsletter-form .form-control .form__button {
  position: relative;
  width: 30%;
  z-index: 0;
  overflow: hidden;
  padding: 10px 20px;
  border: 0 !important;
  color: var(--color-white);
  background: var(--color-black);
}

.footer .footer__newsletter .footer__newsletter-form .form-control .form__button:hover {
  cursor: pointer;
}

.footer .footer__newsletter .footer__newsletter-form .form-control .form__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  width: 0;
  height: 100%;
  z-index: -1;
  -webkit-transform: skew(-25deg);
  transform: skew(-25deg);
  background-color: var(--color-success);
  -webkit-transition: width .7s ease;
  transition: width .7s ease;
}

.footer .footer__newsletter .footer__newsletter-form .form-control .form__button:hover:before {
  width: 150%;
  -webkit-transition: width .7s ease;
  transition: width .7s ease;
}

.footer .footer__showroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 80px;
}

.footer .footer__showroom .content {
  font-size: 0.8rem;
}

.footer .footer__showroom .content .content__policy {
  padding: 0 10px;
  margin-top: 20px;
  font-style: italic;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer .footer__showroom .content .content__policy .policy__link {
  color: var(--color-black);
  text-decoration: none;
}

.footer .footer__showroom .content .content__policy:hover {
  font-style: normal;
  color: var(--color-black);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer .footer__showroom .content .content__address {
  margin-top: 20px;
  padding: 0 10px;
}

.footer .item__policy {
  padding: 0 20px;
}

.footer .item__policy .content {
  border-left: 1px solid var(--color-gray);
}

.footer .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  background-color: var(--color-gray-bg);
}

.footer .footer__navigation .footer__navigation-item {
  margin-right: 60px;
  color: var(--color-black);
  text-decoration: none;
}

.footer .footer__navigation .footer__navigation-item:hover {
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 5px;
}

.footer .footer__certification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.footer .footer__certification .footer__certification-content {
  -webkit-box-flex: 60%;
  -ms-flex: 60%;
  flex: 60%;
  padding: 0 150px;
}

.footer .footer__certification .footer__certification-content p {
  font-size: 0.8rem;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
}

.footer .footer__certification .footer__certification-img {
  -webkit-box-flex: 40%;
  -ms-flex: 40%;
  flex: 40%;
}

.footer .footer__certification .footer__certification-img .img__certification {
  margin-left: 30px;
}

.footer .footer__certification .footer__certification-img .img {
  max-width: 60px;
  max-height: 60px;
}

/*# sourceMappingURL=index.css.map */