// ==================== font google Montserrat ====================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

// ==================== common ====================
:root {
    --header-height: 120px;
    --size-image: 80px;
    --color-white: #ffffff;
    --color-black: #1f110f;
    --color-gray: #767874;
    --color-gray-bg: #f3f4f2;
    --color-red: #ef4f4f;
    --color-warning: #ffa45b;
    --color-success: #54e346;
    --color-dangerous: #c70039;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

// ==================== header ====================
.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    padding: 10px 20px;
    height: var(--header-height);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-bg);

    .header__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header__main-left {
            flex-grow: 1;
            display: flex;
            margin-right: 50px;

            .header__logo {
                max-width: var(--size-image);
                max-height: var(--size-image);

                .header__logo-link {
                    display: block;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .header__category {
                display: flex;
                justify-content: center;
                align-self: center;

                .category__item {
                    position: relative;
                    margin: 0 25px;
                    font-size: 0.9rem;
                    color: var(--color-gray);

                    span {
                        padding: 10px 0;
                    }

                    span:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 10px 0;
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px solid var(--color-black);
                        transform: scaleX(0);
                        transform-origin: right center;
                        transition: transform .5s ease-in-out;
                    }

                    span:hover {
                        font-weight: 500;
                        color: var(--color-black);
                        cursor: pointer;
                    }

                    span:hover:before {
                        transform: scaleX(1);
                        transform-origin: left center;
                        transition: transform .5s ease-in-out;
                    }
                }
            }
        }

        .header__main-center {
            flex-grow: 4;
            display: flex;
            justify-content: center;
            align-self: center;

            .form {
                width: 100%;
                padding: 0 30px;

                .form-control {
                    position: relative;
                    border-radius: 10em / 10em;
                    border: 1px solid var(--color-gray) !important;
                }

                .icon {
                    position: absolute;
                    font-size: 0.8rem;
                }

                input {
                    width: 100%;
                    padding: 0 30px;
                    border: 0 !important;
                }
            }
        }

        .header__main-right {
            flex-grow: 5;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .header__icon {
                position: relative;
                padding: 0 20px;

                .icon{
                    cursor: pointer;
                }

                .header__icon-btn {
                    border: 0 !important;
                    background: none;
                }

                .cart__amount {
                    position: absolute;
                    font-size: 0.6rem;
                    color: var(--color-white);
                    font-weight: 500;
                    top: -10px;
                    right: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color-black);
                }
            }
        }
    }

    .header__sub {
        .navbar__item {
            display: flex;
            justify-content: flex-start;

            .item {
                margin-right: 20px;

                .item__link {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: var(--color-gray);
                }

                .item__link:hover {
                    font-weight: 500;
                    padding-bottom: 5px;
                    color: var(--color-black);
                }
            }
        }
    }
}

// ==================== body ====================
.main {
    width: 100%;
    height: 500px;
}

// ==================== footer ====================
.footer {
    background-image: linear-gradient(decoration, var(--color-gray), var(--color-white), var(--color-white), var(--color-gray));

    .footer__policy {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 70px;
        padding: 0 80px;
        background-color: var(--color-black);

        .footer__policy-item {
            display: flex;
            align-items: center;
            color: var(--color-white);

            p {
                font-size: 0.8rem;
                margin-left: 20px;
            }
        }
    }

    .footer__newsletter {
        padding: 55px 0;

        .footer__newsletter-title {
            text-align: center;
            margin-bottom: 30px;

            p {
                margin-bottom: 20px;
                letter-spacing: 0.1rem;
            }

            .title {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .sub__title {
                font-size: 0.8rem;
            }
        }

        .footer__newsletter-form {
            display: flex;
            align-items: center;

            .form-control {
                display: flex;
                border: 0 !important;
                justify-content: space-around;
                align-items: center;
                padding: 0 400px;

                input {
                    width: 60%;
                    padding: 9px 20px;
                    border: 1px solid var(--color-gray);

                }

                .form__button {
                    position: relative;
                    width: 30%;
                    z-index: 0;
                    overflow: hidden;
                    padding: 10px 20px;
                    border: 0 !important;
                    color: var(--color-white);
                    background: var(--color-black);
                }

                .form__button:hover {
                    cursor: pointer;
                }

                .form__button:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -25%;
                    width: 0;
                    height: 100%;
                    z-index: -1;
                    transform: skew(-25deg);
                    background-color: var(--color-success);
                    transition: width .7s ease;
                }

                .form__button:hover:before {
                    width: 150%;
                    transition: width .7s ease;
                }
            }
        }
    }

    .footer__showroom {
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;

        .content {
            font-size: 0.8rem;

            .content__policy {
                padding: 0 10px;
                margin-top: 20px;
                font-style: italic;
                transition: all 300ms;

                .policy__link {
                    color: var(--color-black);
                    text-decoration: none;
                }
            }

            .content__policy:hover {
                font-style: normal;
                color: var(--color-black);
                transition: all 300ms;

            }

            .content__address {
                margin-top: 20px;
                padding: 0 10px;
            }
        }
    }

    .item__policy {
        padding: 0 20px;

        .content {
            border-left: 1px solid var(--color-gray);
        }
    }

    .footer__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: var(--color-gray-bg);

        .footer__navigation-item {
            margin-right: 60px;
            color: var(--color-black);
            text-decoration: none;
        }

        .footer__navigation-item:hover {
            border-bottom: 1px solid var(--color-black);
            padding-bottom: 5px;
        }
    }

    .footer__certification {
        display: flex;
        padding: 30px 0;

        .footer__certification-content {
            flex: 60%;
            padding: 0 150px;

            p {
                font-size: 0.8rem;
                margin-bottom: 10px;
                letter-spacing: 0.1rem;
                line-height: 1.2rem;
            }
        }

        .footer__certification-img {
            flex: 40%;

            .img__certification {
                margin-left: 30px;
            }

            .img {
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}