body {
  background-image: url(/assets/img/background-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: Times, "Times New Roman";
}

ul,
li {
  list-style-type: none;
}

:root {
  --height-header: 100px;
  --color-white: #ffffff;
  --color-black: #313131;
  --color-gray: #96938b;
  --color-red: #ef4f4f;
  --color-warning: #ffa45b;
  --color-success: #54e346;
  --color-dangerous: #c70039;
  --color-border: #dfe0df;
}

.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo .header__logo-link {
  outline: none;
  padding: 10px 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-white);
}

.overplay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.main {
  padding: 0 540px;
  padding-top: calc(var(--height-header)*1.5);
  height: 755px;
}

.main .main__login {
  padding: 55px 0;
  border-radius: 3px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.main .main__login .login__title {
  text-align: center;
  margin-bottom: 50px;
}

.main .main__login .login__title h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main .main__login .login__title h3 {
  font-size: 0.9rem;
  color: var(--color-gray);
}

.main .main__login .login__form {
  padding: 0 60px;
  text-align: center;
}

.main .main__login .login__form .form__input {
  border-bottom: 1px solid var(--color-border);
}

.main .main__login .login__form .form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__login .login__form .form__button {
  margin: 0;
}

.main .main__login .login__form .form__group {
  margin-top: 30px;
}

.main .main__login .login__form .form__group .form__group-input {
  width: 100%;
}

.main .main__login .login__form .form__group input {
  outline: none;
  padding-bottom: 10px;
  border: 0 !important;
}

.main .main__login .login__form .form__group .form__group-left input {
  margin-right: 7px;
}

.main .main__login .login__form .form__group .form__group-right .form__group-link {
  display: block;
  outline: none;
  color: var(--color-black);
  text-decoration: none;
}

.main .main__login .login__form .form__group .form__group-right .form__group-link:hover {
  font-weight: bold;
}

.main .main__login .login__form .form__group .form__group-button {
  outline: none;
  border-radius: 3px;
  background-color: var(--color-black);
  border: 0 !important;
  padding: 15px 50px;
}

.main .main__login .login__form .form__group .form__group-button span {
  color: var(--color-white);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__left {
  padding: 10px 50px;
}

.footer .footer__left .footer__left-link {
  outline: none;
  margin-right: 30px;
  font-weight: bold;
  letter-spacing: 0.07rem;
  color: var(--color-white);
  text-decoration: none;
}

.footer .footer__left .footer__left-link:hover {
  font-weight: bold;
}

.footer .footer__right {
  padding: 10px 50px;
}

.footer .footer__right .footer__right-link {
  outline: none;
  font-weight: bold;
  letter-spacing: 0.07rem;
  color: var(--color-white);
  text-decoration: none;
}

.footer .footer__right .footer__right-link:hover {
  font-weight: bold;
}
/*# sourceMappingURL=login.css.map */