.main__product {
  padding: 30px 0;
  margin: 0;

  .product__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    .product__title {
      margin-right: 20px;
      font-weight: bold;
    }

    .product__img {
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .img__main {
        display: flex;
        justify-content: center;

        img {
          display: block;
          width: 500px;
          max-height: auto;
          object-fit: contain;
        }
      }

      .img__thumbnail {
        .thumbnail__list {
          display: flex;
          justify-content: space-around;

          .thumbnail__list-item {
            display: flex;
            justify-content: center;
            border-radius: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            img {
              display: block;
              width: 120px;
              height: 120px;
              object-fit: contain;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .product__info {
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px 50px;

      .product__info-group {
        display: flex;
        margin-bottom: 30px;

        .product__name {
          font-size: 2.8rem;
          letter-spacing: 0.3rem;
        }

        .product__brand {
          flex: 1 1;
        }

        .product__button {
          position: relative;
          padding: 20px 50px;
          border: 0 !important;
          z-index: 0;
          overflow: hidden;
          color: var(--color-white);
          background-color: var(--color-black);
          transition: color 0.7s ease-in-out;

          span {
            font-size: 1rem;
            letter-spacing: 0.2rem;
          }
        }

        .product__button::before {
          content: "";
          position: absolute;
          top: 0;
          left: -10%;
          width: 0%;
          height: 100%;
          z-index: -1;
          transform: skew(-25deg);
          background-color: var(--color-success);
          transition: width 0.7s ease-in-out;
        }

        .product__button:hover {
          cursor: pointer;
        }

        .product__button:hover:before {
          width: 120%;
          transition: width 0.7s ease-in-out;
        }
      }
    }
  }

  .product__description {
    padding: 10px 50px;

    .description__title {
      border-bottom: 1px solid var(--color-black);

      span {
        display: inline-block;
        padding: 10px 30px;
        letter-spacing: 0.2rem;
        color: var(--color-white);
        background-color: var(--color-black);
      }
    }

    .description__content {
      padding: 30px 0;

      span {
        line-height: 2rem;
      }
    }
  }

  .product__property {
    padding: 0 50px;
    margin-bottom: 30px;

    .property__title {
      border-bottom: 1px solid var(--color-black);

      span {
        display: inline-block;
        padding: 10px 30px;
        letter-spacing: 0.2rem;
        color: var(--color-white);
        background-color: var(--color-black);
      }
    }

    .property__content {
      padding: 10px 0;

      .content__box:nth-child(even) {
        background-color: var(--color-gray-light);
      }

      .content__box {
        display: flex;
        padding: 20px 10px;
        justify-content: space-between;

        .box__title {
          flex: 1 1;
        }

        .box__content {
          flex: 1 1;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .product__comment {
    padding: 0 50px;

    .comment__title {
      border-bottom: 1px solid var(--color-black);

      span {
        display: inline-block;
        padding: 10px 30px;
        letter-spacing: 0.2rem;
        color: var(--color-white);
        background-color: var(--color-black);
      }
    }

    .comment__error {
      display: flex;
      height: 300px;
      align-items: center;
      justify-content: center;

      .comment__error-text {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .comment__content {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 0;

      .comment__box {
        width: 33%;
        padding: 0 20px;
        margin-bottom: 30px;

        .comment__detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 200px;
          padding: 10px 20px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

          .comment__detail-date {
            display: flex;
            width: 100%;
            justify-content: flex-end;
          }

          .comment__detail-title {
            font-weight: bold;
            letter-spacing: 0.3rem;
            font-size: 1.2rem;
          }

          .comment__detail-content {
            font-size: 0.8rem;
            padding-left: 10px;
            overflow: hidden;
          }

          .comment__detail-user {
            display: flex;
            justify-content: space-between;

            p {
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;

      .pagination__prev,
      .pagination__next {
        cursor: pointer;
        font-weight: bold;
        padding: 0 20px;
        color: var(--color-white);
        border: 0 !important;
        background-color: var(--color-black);
      }

      .pagination__list {
        display: flex;

        .pagination__list-item {
          padding: 10px 10px;
          margin: 0 10px;
          font-weight: bold;
          border: 1px solid var(--color-gray);
          cursor: pointer;

          button {
            border: 0 !important;
            background: none;
            color: var(--color-black);
            cursor: pointer;
          }
        }

        .pagination__list-item:hover {
          background-color: var(--color-success);
          border: 1px solid var(--color-success);

          button:hover {
            color: var(--color-white);
          }
        }
      }
    }
  }
}