.main__home {
  padding: 0;
  margin: 0;

  .home__banner {
    width: 100%;
    height: 700px;
    padding: 90px 100px;
    color: var(--color-white);
    background-image: url("../../../assets/image/home-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner__title {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
    }

    .banner__content {
      font-size: 1.5rem;
      padding: 20px 30px;
      letter-spacing: 0.2rem;
      font-style: italic;
    }

    .banner__link {
      padding: 30px 150px;

      .link__product {
        position: relative;
        display: inline-block;
        padding: 15px 70px;
        color: var(--color-black);
        font-weight: bold;
        z-index: 0;
        background-color: var(--color-white);
        overflow: hidden;
        transition: color 0.7s ease-in-out;
      }

      .link__product:before {
        content: "";
        position: absolute;
        top: 0;
        left: -10%;
        width: 0%;
        height: 100%;
        z-index: -1;
        transform: skew(-25deg);
        background-color: var(--color-success);
        transition: width 0.7s ease-in-out;
      }

      .link__product:hover {
        color: var(--color-white);
        transition: color 0.7s ease-in-out;
      }

      .link__product:hover::before {
        width: 120%;
        transition: width 0.7s ease-in-out;
      }
    }
  }

  .home__shop {
    display: flex;
    padding: 50px 200px;
    justify-content: space-around;
    align-items: center;

    .shop__man {
      background-image: url("../../../assets/image/watches-man-home.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .shop__woman {
      background-image: url("../../../assets/image/watches-woman-home.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .shop__link {
      position: relative;
      width: 500px;
      height: 400px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

      .link__title {
        position: absolute;
        bottom: 30%;
        right: 10%;
        font-size: 2rem;
        color: var(--color-white);
      }

      .link__product {
        position: absolute;
        padding: 5px 0;
        bottom: 20%;
        right: 10%;
        font-size: 1.2rem;
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);

        box-icon {
          position: relative;
          top: 5px;
          margin-left: 5px;
        }
      }
    }
  }

  .home__seller {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .seller__title {
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: 0.3rem;
      margin-bottom: 15px;
      text-align: center;
    }

    .seller__link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      margin-bottom: 50px;

      span {
        padding-bottom: 5px;
        border-bottom: 1px solid var(--color-black);

        box-icon {
          position: relative;
          top: 5px;
        }
      }
    }

    .seller__product {
      display: flex;
      flex-direction: row;
      padding: 0 50px;

      .product__detail:hover {
        cursor: pointer;
        transform: translateY(-20px) scale(1) translateZ(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
      }

      .product__detail {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        transition: all 0.5s ease-in-out;

        .product__img {
          display: flex;
          justify-content: center;

          img {
            max-width: 200px;
            max-height: 250px;
          }
        }

        .product__name {
          display: flex;
          justify-content: center;
          padding: 25px 0;

          h3 {
            font-size: 1.3rem;
            line-height: 1.5rem;
            letter-spacing: 0.3rem;
            text-align: center;
          }
        }

        .product__price {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;

          span {
            font-size: 1rem;
            letter-spacing: 0.2rem;
            text-align: center;
          }
        }

        .product__button {
          display: flex;
          justify-content: center;

          .product__button-link {
            position: relative;
            color: var(--color-white);
            padding: 10px 50px;
            overflow: hidden;
            z-index: 0;
            background-color: var(--color-black);
          }

          .product__button-link::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10%;
            width: 0%;
            height: 100%;
            z-index: -1;
            transform: skew(-25deg);
            background-color: var(--color-success);
            transition: width 0.7s ease-in-out;
          }

          .product__button-link:hover::before {
            width: 120%;
            transition: width 0.7s ease-in-out;
          }
        }
      }
    }
  }
}
