.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__top .product__top-left {
  width: 50%;
}

.product__top .product__top-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__top .product__top-right span {
  margin: 0 20px;
}

.product__top .product__top-right .sort__list {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  letter-spacing: 0.1rem;
}

.product__body {
  margin: 30px;
}

.product__body .list__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__body .list__product .product__item {
  width: 25%;
  margin: 50px 0;
}

.product__body .list__product .product__item .product__card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-20px) scale(1) translateZ(0);
          transform: translateY(-20px) scale(1) translateZ(0);
  -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.2), 5px 0 5px -5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.2), 5px 0 5px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product__body .list__product .product__item .product__card {
  width: 100%;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product__body .list__product .product__item .product__card .product__card-detail .product__img {
  width: 100%;
  height: 250px;
}

.product__body .list__product .product__item .product__card .product__card-detail .product__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__body .list__product .product__item .product__card .product__card-detail .product__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0;
  font-weight: bold;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 0.9rem;
}

.product__body .list__product .product__item .product__card .product__card-detail .product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.product__body .list__product .product__item .product__card .product__card-detail .product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 5px 0;
}

.product__body .list__product .product__item .product__card .product__card-detail .product__button .button__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0;
  color: var(--color-white);
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 0;
  background-color: var(--color-black);
}

.product__body .list__product .product__item .product__card .product__card-detail .product__button .button__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10%;
  width: 0%;
  height: 100%;
  z-index: -1;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
  background-color: var(--color-success);
}

.product__body .list__product .product__item .product__card .product__card-detail .product__button .button__link:hover::before {
  width: 120%;
}
/*# sourceMappingURL=gender.css.map */