.dialog__comment {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
}

.dialog__active {
  transform: scale(1);
}

.dialog__comment .form__comment {
  background-color: white;
  width: 600px;
  height: 600px;
}
.dialog__comment .form__comment .form__header {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 20px 15px;
}
.dialog__comment .form__comment .form__header .header__title {
  width: 70%;
}

.dialog__comment .form__comment .form__header .header__title p {
  font-size: 25px;
  font-weight: bolder;
  color: var(--color-black);
}

.dialog__comment .form__comment .form__header .header__button {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dialog__comment .form__comment .form__header .header__button .btn__close {
  background: none;
  border: 0 !important;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
}

.dialog__comment .form__comment .form__body .form__control .form__control-img {
  display: block;
  width: 35%;
  height: 100%;
  margin: 15px 0;
  margin-left: 25px;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .form__control-img
  img {
  display: block;
  height: 200px;
  width: 180px;
  object-fit: contain;
}

.dialog__comment .form__comment .form__body .form__control {
  display: flex;
  flex-wrap: wrap;
}

.dialog__comment .form__comment .form__body .form__control .form__control-sp {
  width: 60%;
}
.dialog__comment .form__comment .form__body .form__control .form__control-sp p {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: var(--color-black);
  justify-content: center;
  margin: 50px 20px;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .form__control-radio {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .form__control-radio
  .radio {
  display: flex;
  margin: 0 12px;
  height: 1em;
}

.dialog__comment .form__comment .form__body .form__control-radio p {
  font-size: 17px;
  color: black;
  padding-left: 25px;
}

.dialog__comment .form__comment .form__body .form__control-radio span {
  padding: 1px 5px;
}

.dialog__comment .form__comment .form__body .form__control .textarea {
  width: 100%;
  height: 180px;
  padding: 5px 25px;
  margin: 20px 0;
}

.dialog__comment .form__comment .form__body .form__control .textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.dialog__comment .form__comment .form__body .form__control .text p {
  font-size: 11px;
  padding: 5px 25px;
}
.dialog__comment .form__comment .form__body .form__control .button {
  position: relative;
margin-top: -27px;
  padding-left: 290px;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .button
  .button-trolai {
  position: relative;
  padding: 10px 24px;
  margin: 0 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  border: 0 !important;
  background-color: black;
  color: white;
  z-index: 1;
  font-weight: bolder;
  overflow: hidden;
  cursor: pointer;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .button
  .button-trolai::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10%;
  width: 0%;
  height: 100%;
  z-index: -1;
  transform: skewX(-25deg);
  background-color: gray;
  transition: width 0.7s ease-in-out;
  cursor: pointer;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .button
  .button-trolai:hover:before {
  width: 120%;
  cursor: pointer;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .button
  .button-danhgia {
  position: relative;
  padding: 10px 24px;
  margin: 0 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  border: 0 !important;
  background-color: black;
  color: white;
  z-index: 1;
  font-weight: bolder;
  overflow: hidden;
  cursor: pointer;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .button
  .button-danhgia::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10%;
  width: 0%;
  height: 100%;
  z-index: -1;
  transform: skewX(-25deg);
  background-color: var(--color-success);
  transition: width 0.7s ease-in-out;
  cursor: pointer;
}
.dialog__comment
  .form__comment
  .form__body
  .form__control
  .button
  .button-danhgia:hover:before {
  width: 120%;
  cursor: pointer;
}
